<!doctype html>
<html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107714833-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-107714833-1');
</script>
</html>

<!doctype html>
<html>
<body>
    <link rel="shortcut icon" href="https://photos.google.com/album/AF1QipOhFgFY7bNgYa12YIY7xk4Scrai2acaMRHKORXM/photo/AF1QipNjJ331yL-Ipza2GxeJPawOxMK7H1TjwBpLYqMI" type="image/x-icon"/>
    Hello, and welcome to this website. You've obviously found this from your IoT, so you may as well take an extra 47.433 seconds to look round this playground.
    <p><a href="{{ url_for('anish_related_things') }}">Check out some anish related things!</a></p>
    <p><a href="{{ url_for('contact_thing') }}">Are you trying to contact me?</a></p>
     <p><a href="{{ url_for('other_thing') }}">Other...</a></p>
    <p><a href="{{ url_for('fun_thing') }}">Play this fun 'game'!</a></p>
    <p><a href="{{ url_for('blog_thing') }}">Blog, opinions and other stuff</a></p>
</body>
</html>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNxsfSDPW0d5AHxHk37FUMarU0huDUbKq0UMJdADya3w69yQ/viewform?embedded=true" width="700" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
