<!doctype html>
<html>
<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107714833-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107714833-1');
</script>

    No one will find this (probably) - but as you obviously have, you might as well have a look around.
    <p><a href="{{ url_for('anish_related_things') }}">Check out some anish related things!</a></p>
    <p><a href="{{ url_for('contact_thing') }}">Are you trying to contact me?</a></p>
      <p><a href="{{ url_for('other_thing') }}">Other...</a></p>
</body>
</html>
