<!doctype html>
<html>
<body>
    No one will find this (probably) - but as you obviously have, you might as well have a look around. Hey Das, this is cos ur on hangouts. 
    <p><a href="{{ url_for('anish_related_things') }}">Check out some anish related things!</a></p>
    <p><a href="{{ url_for('contact_thing') }}">Are you trying to contact me?</a></p>
      <p><a href="{{ url_for('other_thing') }}">Other...</a></p>
</body>
</html>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNxsfSDPW0d5AHxHk37FUMarU0huDUbKq0UMJdADya3w69yQ/viewform?embedded=true" width="780" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
