<!doctype html>

<html>
<head>
     <title>Squashed Orange</title>
<style>
body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
     </style>
</head>

<body>
     testing the writing
  <a href="https://squashedorangedeveloper.wordpress.com"><img src="https://lh3.googleusercontent.com/U0ARtUZL6AaEHekxJZhfgbCWHlKNIqGmaxnM6kHGuEMLnL_VZTaorgAaP4jDc6irzi1b=s144-c-rw" alt="Squashed Orange"/></a>
  <iframe height="800" width="450" src="https://bot.dialogflow.com/7fdde219-7acf-4f23-902e-331f1a2a9094"></iframe>
 
</body>
</html>
